<article class="card-post">
  <h2>{{title}}</h2>
  <div>
    <a href="/dashboard/edit/{{id}}">
      <button>Edit Post</button>
    </a>
  </div>
  {{! <div><button>Edit</button><button id="delete-post">Delete</button></div> }}
</article>